body {
    font-family: "Noto Sans";
    margin: 0;
    background-color: #f6f6f6;
}

/* S E A R C H  B A R */
form {
    background-color: #A57241;
    width: 100%;
    height: 60px;
    display: flex; 
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9;
    opacity: 90%;
}

input {
    height: 25px;
    min-width: 500px;    
    border-radius: 0%;
    border: none;
    padding: 5px;
    transition: all .2s ease-in-out;
}

input:focus,
input:hover {
    outline: none;
    box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.1);
}

#search-button {
    height: 35px;
    width: 35px;
    background-color: #e2e2e2;
    border: none;
    cursor: pointer;  
}

#search-button:focus,
#search-button:hover {
    box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.05);
}  

/* G A L L E R Y */
.gallery {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    display: flex;
    padding-top: 80px;
}

.photo-card {
    margin: 3px;
    min-width: 320px;
    border: 1px solid rgba(128,128,128, 0.1);
    border-radius: 10px;
    flex-direction: column;
    flex-basis: calc(25% - 20px);
    transition: all .2s ease-in-out;
    display: flex;
    overflow: hidden;
    opacity: 0.9;
}

.photo-card:hover,
.photo-card:focus {
    transform: scale(1.01);
    box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
    opacity: 1;
    background-color: rgba(226,199,137);
}

img {
    height: 30vh;
    width: 100%;
    object-fit: cover;
    display: block;
}
    
.info {
    justify-content: space-around;
    display: flex;
    background-color: rgba(165,114,65, 0.5);
    color: #f6f6f6;
    cursor: default;
    text-shadow: 0 0 1px #000;
}

.info-item {
    text-align: center;
}

/* L O A D  M O R E  B U T T O N */
.load-more {
    background-color: rgba(165,114,65, 0.5);
    border: 1px solid rgba(128,128,128, 0.1);
    color: #f6f6f6;
    border-width: 1px;
    border-radius: 0.25rem;
    text-align: center;
    position: relative;
    margin: 10px auto;  
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    width: 14.375rem;
    cursor: pointer;
    opacity: 0.9;
    transition: all .2s ease-in-out;
} 

.load-more:hover,
.load-more:focus-visible {
    opacity: 1;
    background-color: rgba(165,114,65);
    transform: scale(1.1);
}